@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff'),
        url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff'),
        url('Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
        url('Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Black.woff2') format('woff2'),
        url('Raleway-Black.woff') format('woff'),
        url('Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

